.toto{
    color:red;
}

.w-45{
    width: 45%;
}

.flex{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.bg-bleu{
    background-color: rgb(225, 177, 19);
    border-radius: 16px;
    
}

.mb-50{
    margin-bottom: 50px;
}

.text-center{
    text-align: center;
}

.pl-16{
    padding-left: 16px;
}